<div class="hero-wrap js-fullheight" style="background-image: url('images/image-bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-end" data-scrollax-parent="true">
      <div class="col-md-8 text-justify ftco-animate mb-5 pr-lg-4">
      	<a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4">
        	<div class="icon d-flex align-items-center justify-content-center">
        		<span class="ion-ios-play"></span>
        	</div>
        	<div class="heading-title ml-3">
	         	<span>私たちの作品を見る</span>
        	</div>
        </a>
      	<h1 class="mb-0">リサイクルシング、ホームメイドクラフト、古いものを新しいものに更新</h1>
      	<h3 class="subheading mb-4 pb-1">思い出を新しい世界にリサイクル</h3>
      </div>
    </div>
  </div>
</div>