		<section class="instagram ftco-section ftco-no-pt ftco-no-pb">
      <div class="container-fluid px-md-0">
        <div class="row no-gutters">
          <div class="col-sm-12 col-md ftco-animate">
            <a href="images/recycle-1.jpg" class="insta-img img image-popup" style="background-image: url(images/recycle-1.jpg);">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="images/recycle-2.jpg" class="insta-img img image-popup" style="background-image: url(images/recycle-2.jpg);">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="images/recycle-3.jpg" class="insta-img img image-popup" style="background-image: url(images/recycle-3.jpg);">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="images/recycle-4.jpg" class="insta-img img image-popup" style="background-image: url(images/recycle-4.jpg);">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>