    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 text-center heading-section heading-section-light ftco-animate">
          	<span class="subheading">Our Product</span>
            <h2 class="mb-2"><span class="px-4">Recent Product</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
            	<div class="text">
                <div class="meta mb-0 pl-md-5">
                  <div><a href="#">Aug 5, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading pl-md-5"><a href="#">Recycle Your household to decoration</a></h3>
              </div>
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
              </a>
              <div class="text py-3">
                <div class="desc pl-md-5">
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
            	<div class="text">
                <div class="meta mb-0 pl-md-5">
                  <div><a href="#">Aug 5, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading pl-md-5"><a href="#">Recycle Your household to decoration</a></h3>
              </div>
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
              </a>
              <div class="text py-3">
                <div class="desc pl-md-5">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
            	<div class="text">
                <div class="meta mb-0 pl-md-5">
                  <div><a href="#">Aug 5, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading pl-md-5"><a href="#">Recycle Your household to decoration</a></h3>
              </div>
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
              </a>
              <div class="text py-3">
                <div class="desc pl-md-5">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>