    <section class="ftco-counter" id="section-counter">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex flex-column align-items-stretch">
    				<div class="img d-flex align-self-stretch align-items-center justify-content-center" style="background-image:url(images/video-1.jpg);">
    					<a href="https://www.youtube.com/watch?v=ism1XqnZJEg" class="icon-video popup-vimeo d-flex align-items-center justify-content-center text-center">
    						<span class="ion-ios-play"></span>
    					</a>
    				</div>
    			</div>
    			<div class="col-md-6 px-md-5 py-4 py-md-5">
    				<div class="row justify-content-start pt-md-3 pb-md-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4">リサイクルシング、ホームメイドクラフト、古いものを新しいものに更新</h2>
		            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 mb-4">
		              <div class="text">
		              	
		                <strong class="number" data-number="70000">0</strong>
		                <span>イデア</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 mb-4">
		              <div class="text">
		              	
		                <strong class="number" data-number="1000">0</strong>
		                <span>作った</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 mb-4">
		              <div class="text">
		              	
		                <strong class="number" data-number="100000">0</strong>
		                <span>集まてお金</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 mb-4">
		              <div class="text">
		              	
		                <strong class="number" data-number="100">0</strong>
		                <span>アーティスト</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
